#button {
    /* justify-content: center; */
    padding-bottom: 20px;
    margin: auto;
    justify-content: space-evenly;
}

.timefont {
    font-size: 50px ;
}

.head{
    font-size: 50px;
    font-family: sans-serif;
}

.watch_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-left: 2px solid rgb(61, 201, 211);
    border-right: 2px solid rgb(61, 201, 211);
    border-top: 50px solid rgb(61, 201, 211);
    border-bottom: 30px solid rgb(61, 201, 211);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

